In [30]:
import pandas as pd
import numpy as np
import tensorflow as tf

## DataFrame

In [31]:
csv_data = tf.keras.utils.get_file('iris.csv', 'https://raw.githubusercontent.com/jerrywu2013/Hiskio_data/master/iris.csv')

In [32]:
df = pd.read_csv(csv_data)
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [33]:
df.dtypes

sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
variety          object
dtype: object

In [34]:
#轉換目標欄位為離散值
df['variety'] = pd.Categorical(df['variety'])
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [35]:
df.dtypes

sepal.length     float64
sepal.width      float64
petal.length     float64
petal.width      float64
variety         category
dtype: object

In [36]:
df['variety'] = df.variety.cat.codes
df.head()

   sepal.length  sepal.width  petal.length  petal.width  variety
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

#### 透過tf.data.Dataset做資料切割與轉換

In [37]:
target = df.pop('variety')

In [38]:
dataset = tf.data.Dataset.from_tensor_slices((df.values,target.values))

#透過tf.data.Dataset可以轉換標準的Tensor資料管道方便之後運算
dataset

In [39]:
## take 可用來看資料

for i in dataset.take(20):
    print(i)

(<tf.Tensor: shape=(4,), dtype=float64, numpy=array([5.1, 3.5, 1.4, 0.2])>, <tf.Tensor: shape=(), dtype=int8, numpy=0>)
(<tf.Tensor: shape=(4,), dtype=float64, numpy=array([4.9, 3. , 1.4, 0.2])>, <tf.Tensor: shape=(), dtype=int8, numpy=0>)
(<tf.Tensor: shape=(4,), dtype=float64, numpy=array([4.7, 3.2, 1.3, 0.2])>, <tf.Tensor: shape=(), dtype=int8, numpy=0>)
(<tf.Tensor: shape=(4,), dtype=float64, numpy=array([4.6, 3.1, 1.5, 0.2])>, <tf.Tensor: shape=(), dtype=int8, numpy=0>)
(<tf.Tensor: shape=(4,), dtype=float64, numpy=array([5. , 3.6, 1.4, 0.2])>, <tf.Tensor: shape=(), dtype=int8, numpy=0>)
(<tf.Tensor: shape=(4,), dtype=float64, numpy=array([5.4, 3.9, 1.7, 0.4])>, <tf.Tensor: shape=(), dtype=int8, numpy=0>)
(<tf.Tensor: shape=(4,), dtype=float64, numpy=array([4.6, 3.4, 1.4, 0.3])>, <tf.Tensor: shape=(), dtype=int8, numpy=0>)
(<tf.Tensor: shape=(4,), dtype=float64, numpy=array([5. , 3.4, 1.5, 0.2])>, <tf.Tensor: shape=(), dtype=int8, numpy=0>)
(<tf.Tensor: shape=(4,), dtype=float64, numpy=array([4.4, 2.9, 1.4, 0.2])>, <tf.Tensor: shape=(), dtype=int8, numpy=0>)
(<tf.Tensor: shape=(4,), dtype=float64, numpy=array([4.9, 3.1, 1.5, 0.1])>, <tf.Tensor: shape=(), dtype=int8, numpy=0>)
(<tf.Tensor: shape=(4,), dtype=float64, numpy=array([5.4, 3.7, 1.5, 0.2])>, <tf.Tensor: shape=(), dtype=int8, numpy=0>)
(<tf.Tensor: shape=(4,), dtype=float64, numpy=array([4.8, 3.4, 1.6, 0.2])>, <tf.Tensor: shape=(), dtype=int8, numpy=0>)
(<tf.Tensor: shape=(4,), dtype=float64, numpy=array([4.8, 3. , 1.4, 0.1])>, <tf.Tensor: shape=(), dtype=int8, numpy=0>)
(<tf.Tensor: shape=(4,), dtype=float64, numpy=array([4.3, 3. , 1.1, 0.1])>, <tf.Tensor: shape=(), dtype=int8, numpy=0>)
(<tf.Tensor: shape=(4,), dtype=float64, numpy=array([5.8, 4. , 1.2, 0.2])>, <tf.Tensor: shape=(), dtype=int8, numpy=0>)
(<tf.Tensor: shape=(4,), dtype=float64, numpy=array([5.7, 4.4, 1.5, 0.4])>, <tf.Tensor: shape=(), dtype=int8, numpy=0>)
(<tf.Tensor: shape=(4,), dtype=float64, numpy=array([5.4, 3.9, 1.3, 0.4])>, <tf.Tensor: shape=(), dtype=int8, numpy=0>)
(<tf.Tensor: shape=(4,), dtype=float64, numpy=array([5.1, 3.5, 1.4, 0.3])>, <tf.Tensor: shape=(), dtype=int8, numpy=0>)
(<tf.Tensor: shape=(4,), dtype=float64, numpy=array([5.7, 3.8, 1.7, 0.3])>, <tf.Tensor: shape=(), dtype=int8, numpy=0>)
(<tf.Tensor: shape=(4,), dtype=float64, numpy=array([5.1, 3.8, 1.5, 0.3])>, <tf.Tensor: shape=(), dtype=int8, numpy=0>)



- batch: 將資料封裝乘batch, ()內為每個batch資料數
- shuffle: 一次取指定數目洗牌, 洗完在取下一批, 越大越好
- skip(count): 跳過前count數個資料

In [40]:
all_train_dataset = dataset.shuffle(len(df)).batch(1)

In [41]:
### 觀察打亂後數據
for i in all_train_dataset.take(20):
    print (i)

(<tf.Tensor: shape=(1, 4), dtype=float64, numpy=array([[5. , 3.5, 1.3, 0.3]])>, <tf.Tensor: shape=(1,), dtype=int8, numpy=array([0], dtype=int8)>)
(<tf.Tensor: shape=(1, 4), dtype=float64, numpy=array([[5.1, 3.8, 1.5, 0.3]])>, <tf.Tensor: shape=(1,), dtype=int8, numpy=array([0], dtype=int8)>)
(<tf.Tensor: shape=(1, 4), dtype=float64, numpy=array([[6.7, 2.5, 5.8, 1.8]])>, <tf.Tensor: shape=(1,), dtype=int8, numpy=array([2], dtype=int8)>)
(<tf.Tensor: shape=(1, 4), dtype=float64, numpy=array([[6.9, 3.1, 5.1, 2.3]])>, <tf.Tensor: shape=(1,), dtype=int8, numpy=array([2], dtype=int8)>)
(<tf.Tensor: shape=(1, 4), dtype=float64, numpy=array([[6.4, 2.7, 5.3, 1.9]])>, <tf.Tensor: shape=(1,), dtype=int8, numpy=array([2], dtype=int8)>)
(<tf.Tensor: shape=(1, 4), dtype=float64, numpy=array([[5.6, 2.7, 4.2, 1.3]])>, <tf.Tensor: shape=(1,), dtype=int8, numpy=array([1], dtype=int8)>)
(<tf.Tensor: shape=(1, 4), dtype=float64, numpy=array([[5.8, 2.7, 5.1, 1.9]])>, <tf.Tensor: shape=(1,), dtype=int8, numpy=array([2], dtype=int8)>)
(<tf.Tensor: shape=(1, 4), dtype=float64, numpy=array([[5.8, 2.8, 5.1, 2.4]])>, <tf.Tensor: shape=(1,), dtype=int8, numpy=array([2], dtype=int8)>)
(<tf.Tensor: shape=(1, 4), dtype=float64, numpy=array([[6.3, 2.3, 4.4, 1.3]])>, <tf.Tensor: shape=(1,), dtype=int8, numpy=array([1], dtype=int8)>)
(<tf.Tensor: shape=(1, 4), dtype=float64, numpy=array([[7.7, 2.6, 6.9, 2.3]])>, <tf.Tensor: shape=(1,), dtype=int8, numpy=array([2], dtype=int8)>)
(<tf.Tensor: shape=(1, 4), dtype=float64, numpy=array([[6.3, 2.8, 5.1, 1.5]])>, <tf.Tensor: shape=(1,), dtype=int8, numpy=array([2], dtype=int8)>)
(<tf.Tensor: shape=(1, 4), dtype=float64, numpy=array([[4.9, 3.1, 1.5, 0.1]])>, <tf.Tensor: shape=(1,), dtype=int8, numpy=array([0], dtype=int8)>)
(<tf.Tensor: shape=(1, 4), dtype=float64, numpy=array([[5.4, 3.9, 1.3, 0.4]])>, <tf.Tensor: shape=(1,), dtype=int8, numpy=array([0], dtype=int8)>)
(<tf.Tensor: shape=(1, 4), dtype=float64, numpy=array([[4.9, 3.1, 1.5, 0.2]])>, <tf.Tensor: shape=(1,), dtype=int8, numpy=array([0], dtype=int8)>)
(<tf.Tensor: shape=(1, 4), dtype=float64, numpy=array([[7.9, 3.8, 6.4, 2. ]])>, <tf.Tensor: shape=(1,), dtype=int8, numpy=array([2], dtype=int8)>)
(<tf.Tensor: shape=(1, 4), dtype=float64, numpy=array([[4.9, 3.6, 1.4, 0.1]])>, <tf.Tensor: shape=(1,), dtype=int8, numpy=array([0], dtype=int8)>)
(<tf.Tensor: shape=(1, 4), dtype=float64, numpy=array([[5. , 3.6, 1.4, 0.2]])>, <tf.Tensor: shape=(1,), dtype=int8, numpy=array([0], dtype=int8)>)
(<tf.Tensor: shape=(1, 4), dtype=float64, numpy=array([[7.6, 3. , 6.6, 2.1]])>, <tf.Tensor: shape=(1,), dtype=int8, numpy=array([2], dtype=int8)>)
(<tf.Tensor: shape=(1, 4), dtype=float64, numpy=array([[6.5, 3. , 5.5, 1.8]])>, <tf.Tensor: shape=(1,), dtype=int8, numpy=array([2], dtype=int8)>)
(<tf.Tensor: shape=(1, 4), dtype=float64, numpy=array([[5.2, 2.7, 3.9, 1.4]])>, <tf.Tensor: shape=(1,), dtype=int8, numpy=array([1], dtype=int8)>)

In [42]:
train_dataset = all_train_dataset.take(int(0.7 * len(df)))
test_dataset = all_train_dataset.skip(int(0.7 * len(df)))

In [43]:
model = tf.keras.models.Sequential([
    tf.keras.layers.Flatten(),
    tf.keras.layers.Dense(128,activation = 'relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(3)
])

In [44]:
loss_fn = tf.keras.losses.SparseCategoricalCrossentropy(from_logits = True)
model.compile(optimizer = 'adam',
             loss = loss_fn,
             metrics = ['accuracy'])

model.fit(train_dataset,epochs = 10)

Train for 105 steps
Epoch 1/10
105/105 [==============================] - 1s 7ms/step - loss: 1.0246 - accuracy: 0.4762
Epoch 2/10
105/105 [==============================] - 0s 2ms/step - loss: 0.7754 - accuracy: 0.6286
Epoch 3/10
105/105 [==============================] - 0s 2ms/step - loss: 0.6655 - accuracy: 0.6571
Epoch 4/10
105/105 [==============================] - 0s 2ms/step - loss: 0.5342 - accuracy: 0.7429
Epoch 5/10
105/105 [==============================] - 0s 2ms/step - loss: 0.5127 - accuracy: 0.7429
Epoch 6/10
105/105 [==============================] - 0s 2ms/step - loss: 0.4246 - accuracy: 0.8190
Epoch 7/10
105/105 [==============================] - 0s 2ms/step - loss: 0.4214 - accuracy: 0.7714: 0s - loss: 0.3966 - accuracy:
Epoch 8/10
105/105 [==============================] - 0s 2ms/step - loss: 0.3300 - accuracy: 0.8857
Epoch 9/10
105/105 [==============================] - 0s 2ms/step - loss: 0.3231 - accuracy: 0.8857
Epoch 10/10
105/105 [==============================] - 0s 2ms/step - loss: 0.2983 - accuracy: 0.8762

In [45]:
model.evaluate(test_dataset)

45/45 [==============================] - 0s 3ms/step - loss: 0.2212 - accuracy: 1.0000

[0.22116143262634674, 1.0]